/* Bottom bar styling */

.bottom-bar {
    width: 100%;
    height: 120px;
    background-color: rgb(37, 43, 47);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  





