
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weatherForm {

    margin: 20px;
    display: flex;
    flex-direction: column;

}

.cityText {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.tempText {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.descText {
    font-size: 1.5em;
    margin-bottom: 10px;

}

.search {
    border-radius: 10px;
}

.searchButton {
    font-size: 1.5em;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #168bb2;
    color: white;
    border: none;
    cursor: pointer;

}

.searchButton:hover {
    background-color: #4c5cd3;
}


.card {
    background: linear-gradient(135deg, rgb(140, 219, 233) 0%, rgb(237, 247, 184)50%, rgb(188, 255, 136) 100%);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8%;
}


h2 {

    font-size: 3.5rem;
}

p {
    font-size: 1.5rem;
}

.errorText {
    font-size: 1.5em;
    color: red;
    margin-bottom: 10px;
}