/* Main styles */

body {
  margin: 0;
  padding: 0;
}

.scroll-container {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.welcome-banner,
.top {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Welcome banner styling  (Welcome text)*/

.banner-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 170%;
  filter: brightness(60%);
}

.banner-img {
  text-align: center;
}

.welcome-banner {
  max-width: 58.82%;
  background-image: url("pexels-esan-2085998croped.jpg");
  background-position: center;
  justify-content: center;
  align-items: center;
}

.source {
  font-family: "Golos Text", sans-serif;
  color: rgb(96, 95, 95);
  position: absolute;
  top: 95%;
  left: 88%;
  font-size: 1.5em;
  text-decoration: none;
  white-space: nowrap;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Teachers", sans-serif;
  font-size: 3em;
  color: white;
  cursor: default;
}

.welcome-text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #0da5f7;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.welcome-text:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Top navigation bar where dark/light mode toggle is */

.top {
  z-index: 10;
  margin-bottom: 10%;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(37, 43, 47);
  color: white;
  height: 40px;
}

/* About me card */

.floating-card {
  max-width: fit-content;
  margin-inline: auto;
  width: 40rem;
  padding: 6rem;
}

.introduction h2 {
  color: rgb(0, 0, 0);
  font-size: 150%;
  font-family: "Teachers", sans-serif;
}

.introduction .text {
  color: rgb(0, 0, 0);
  line-height: 1.6;
  font-size: 120%;
  font-family: "Golos Text", sans-serif;
}

/*  Shows the images of the skills like C++, Python logos */

.container {
  display: flex;
}

.skills {
  z-index: 1;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: -3%;
}

.skills img {
  width: 3rem;
  height: auto;
}

.skills p {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Teachers", sans-serif;
}

/* GIthub logo and link */

.github {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.github p {
  color: black;
  font-size: 1.5rem;
  font-family: "Teachers", sans-serif;
  text-align: center;
}

.dark-mode .github p {
  color: white;
}

.github .logo1,
.github .logo2 {
  width: 3rem;
  height: auto;
}

/* Projects section */
.projects-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 10%;
}

.project {
  width: 250px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6%;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project,
h4 {
  opacity: 0;
}

.project.fade-in:nth-child(1) {
  animation: fadeIn 2s ease-in-out forwards;
}

.project.fade-in:nth-child(2) {
  animation: fadeIn 3s ease-in-out forwards;
}

.project.fade-in:nth-child(3) {
  animation: fadeIn 4s ease-in-out forwards;
}

.project.fade-in:nth-child(4) {
  animation: fadeIn 5s ease-in-out forwards;
}

.project.fade-in:nth-child(5) {
  animation: fadeIn 6s ease-in-out forwards;
}

h4.fade-in {
  animation: fadeIn 3s ease-in-out forwards;
}

.project-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
}

.project-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: "Golos Text", sans-serif;
}

h3 {
  color: black;
  font-family: "Teachers", sans-serif;
}

h4 {
  font-family: "Teachers", sans-serif;
  font-size: 400%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 10%;
}

/* Dark and light mode stylnigs*/

.dark-mode {
  color: white;
  background-color: rgb(26, 26, 26);
}

.light-mode {
  color: black;
  background-color: white;
}

.dark-mode .introduction .text,
.dark-mode .introduction h2,
.dark-mode .floating-card,
.dark-mode .top,
.dark-mode .skills p,
.dark-mode .container .dark-mode .text {
  color: rgb(255, 255, 255);
  background-color: rgb(#1a1a1a);
  border-color: rgb(#1a1a1a);
}

.logo1 {
  display: none;
}

.dark-mode .logo2 {
  background-color: transparent;
  display: none;
}

.dark-mode .logo1 {
  display: flex;
}

.dark-mode .block {
  background-color: white;
  color: rgb(80, 80, 80);
}

.floating-card .introduction {
  position: relative;
  z-index: 1;
}

.dark-mode {
  .floating-card {
    border-color: #ffffff;
    background-color: #1a1a1a;
  }

  .floating-card::before,
  .floating-card::after {
    background: #1a1a1a;
  }

  .floating-card .introduction {
    color: #ffffff;
  }
}

/* Button styling used https://codepen.io/Pinjasaur/pen/KqNqLa as layout */

.toggleMode {
  margin: auto;
  padding: 2px;
  width: 55px;
  margin-right: 0;
}

.toggleMode input.mobileToggle {
  opacity: 0;
  position: absolute;
}

.toggleMode input.mobileToggle + label {
  position: relative;
  display: inline-block;
  user-select: none;
  transition: 0.4s ease;
  height: 30px;
  width: 50px;
  border-radius: 30px;
}

.toggleMode input.mobileToggle + label:before {
  content: "";
  position: absolute;
  display: block;
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 30px;
  width: 50px;
  top: 0;
  left: 0;
  border-radius: 30px;
  background: white;
}

.toggleMode input.mobileToggle + label:after {
  content: "";
  position: absolute;
  display: block;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04),
    0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  background: rgb(117, 117, 117);
  height: 28px;
  width: 28px;
  top: 1px;
  left: 0px;
  border-radius: 60px;
}

.toggleMode input.mobileToggle:checked + label:before {
  background: #080808;
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}

.toggleMode input.mobileToggle:checked + label:after {
  left: 24px;
}

/* Corners for introduction card */

.floating-card {
  padding: 1em;
  border: 0.25em solid;
  position: relative;
}
.floating-card::before,
.floating-card::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
}
.floating-card::before {
  top: -0.3em;
  bottom: -0.3em;
  left: 1em;
  right: 1em;
}
.floating-card::after {
  left: -0.3em;
  right: -0.3em;
  top: 1em;
  bottom: 1em;
}
.floating-card .introduction {
  position: relative;
  z-index: 1;
}

.floating-card {
  padding: 1em;
  border: 0.25em solid;
  position: relative;
}

.floating-card::before,
.floating-card::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
}

.floating-card::before {
  top: -0.3em;
  bottom: -0.3em;
  left: 1em;
  right: 1em;
}

.floating-card::after {
  left: -0.3em;
  right: -0.3em;
  top: 1em;
  bottom: 1em;
}

.welcome-text {
  text-decoration: none;
}
